.topic-new .topic-icon{background-position:0 -72px;}
.topic-new-lock .topic-icon{background-position:0 -54px;}
.topic-old .topic-icon{background-position:0 0;}
.topic-old-lock .topic-icon{background-position:0 -36px;}
.topic-announce .topic-icon{background-position:0 -18px;}
.topic-sticky .topic-icon{background-position:0 -108px;}
.topic-sticky-new .topic-icon{background-position:0 -126px;}

.topic-icon {
    background: url(../images/thread-icons-sprite.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 0 4px 0 5px;
    width: 19px;
}